# Terraform
.terraform/
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Local tooling and caches
.cache/
.cache/**

# Node/Vite (if present)
node_modules/
dist/
coverage/

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/

tfplan
tfplan.json